{% extends "layout.html" %}

{% block content %}

<div class="main-container">
    <div class="cloud-image">
        <img src="../static/img/successCloudNew.svg" />
    </div>
    <div class="content">
        <div class="tweet-container">
            <a href="http://twitter.com/intent/tweet/?text=I%20just%20created%20a%20new%20Python%20Flask%20website%20on%20Azure%20using%20Azure%20DevOps%20Project&hashtags=AzureDevOpsProject%2CVSTS%20%40Azure%20%40VSTS">
                <img src="../static/img/tweetThis.svg" />
            </a>
        </div>
        <div class="content-body">
            <div class="success-text">Success!</div>
            <div class="description line-1"> Azure DevOps Project has been successfully setup</div>
            <div class="description line-2"> Your Python Flask app is up and running on Azure</div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Send Custom Event</h2>
        <p>
            Press button to send custom event called <b>ShoppingCartCheckout</b>
        </p>
        <p><a class="btn btn-default" href="{{ url_for('track_custom_event') }}">Custom Event &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Send Custom Metric</h2>
        <p>
            Press button to send custom metric for <b>queueSize</b>
        </p>
        <p><a class="btn btn-default" href="{{ url_for('send_metric') }}">Custom Metric &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Trigger handled Exception</h2>
        <p>
            Press button to trigger a random handled exception
        </p>
        <p><a class="btn btn-default" href="{{ url_for('handledException') }}">Handled Exception &raquo;</a></p>
    </div>    
</div>

{% endblock %}
